@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@400;500;600;700;800;900&display=swap');

body {
  background-color: black;
  user-select: none;
  text-align: center;
}

.heading {
  margin: 70px;
  color: white;
  font-family: 'Geologica', sans-serif;
}

.heading span {
  font-family: 'Courier New', Courier, monospace;
}

#track {
  color: white;
  font-family: 'Geologica', sans-serif;
}

#track img {
  border-radius: 10%;
  pointer-events: none;
}

#track h2 {
  margin: 0.5em 0;
}
