@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@400;500;600;700;800;900&display=swap');

body {
  background-color: black;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading {
  margin: 35px 0 60px 0;
  color: white;
  font-family: 'Geologica', sans-serif;
  text-align: center;
}

.heading span {
  font-family: 'Courier New', Courier, monospace;
}

#track {
  color: white;
  font-family: 'Geologica', sans-serif;
  text-align: center;
  background-color: #121212;
  border-radius: 8%;
}

#track img {
  border-radius: 10%;
  margin-top: 30px;
  pointer-events: none;
}

#track h2 {
  margin: 0.7em 8px;
}

@media only screen and (max-width: 460px) {
  .main{
    width: 100%;
  }
  .heading {
    font-size: 13px;
  }
  #track{
    background-color: black;
  }
  #track h2{
    font-size: 20px;
  }
}
