@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@400;500;600;700;800;900&display=swap');

body {
  background-color: black;
  background-size: cover;
  background-position: center;
  transition: 0.7s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

body::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  backdrop-filter: blur(17px);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading {
  margin: 35px 0 40px 0;
  color: white;
  font-family: 'Geologica', sans-serif;
  text-align: center;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.671);
}

#track {
  color: white;
  font-family: 'Geologica', sans-serif;
  text-align: center;
  margin-bottom: 30px;
  max-width: 320px;
  background-color: #1212124b;
  border-radius: 10%;
}

#track img {
  border-radius: 10%;
  margin-top: 20px;
}

#track h2 {
  margin: 15px 30px -10px 30px;
}

#track p {
  margin: 20px 0px 20px 0px;
}

@media only screen and (max-width: 460px) {
  .heading {
    font-size: 13px;
  }

  #track img {
    margin: 20px 20px 2px;
 }

  #track h2 {
    font-size: 20px;
  }
}
